# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data files (not uploaded)
data/
cleaned_dataset.csv

# Saved models
models/
*.pkl

# Environment variables
.env